form {
    font-family: arial;
    
    padding: 25px;
    border-radius: 20px;
    background-color: pink;
}

label {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    color: blue;
}

#name {
    font-style: italic;
    margin-bottom: 20px;
    height: 25px;
}

button {
    background-color: yellow;
    width: 225px;
    border: 1px solid yellow;

}